<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Confirm your email address</title>
</head>
<body>
    <p>Dear {{ username }}</p>
    <p>Thank you for signing up for our service! To complete your registration, please click the link below to confirm your email address:</p>
    <p><a href="{{ confirmation_url }}"><button>Confirm</button></a></p>
    <p>If you did not sign up for our service, please ignore this email.</p>
    <p>Best regards,</p>
    {% if company_name %}
       <p>The {{ company_name }} team</p>
    {% endif %}

</body>
</html>