{% extends 'shared/layer.html' %}

{% block title %}Registration Successful{% endblock %}
{% block content %}

     <div class="row">
            <div class="col-md-6 offset-md-3 mt-5">
                <div class="alert alert-success" role="alert">
                    <h4 class="alert-heading">Registration Successful</h4>
                    <p>Thank you for registering! We have sent a confirmation email to your email address.</p>
                    <p>Please check your email and follow the instructions to confirm your account.</p>
                </div>
            </div>
        </div>
{% endblock %}